/* Стили для футера */
footer {
    position: fixed; /* Фиксируем футер */
    bottom: 0px; /* Прикрепляем к низу экрана */
    left: 0; /* Прикрепляем к левому краю */
    width: 100%; /* Занимаем всю ширину экрана */
    background-color: #b2b1b1; /* Цвет фона футера */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 0px 0; /* Отступы сверху и снизу */

}

/* Стили для верхней полосы */
footer::before {
    content: ""; /* Создаем пустой элемент */
    display: block; /* Делаем его блочным */
    height: 5px; /* Высота полосы */
    background-color: #ff0157; /* Цвет верхней полосы */
}

