/* Стили для футера */
footer {
    position: fixed; /* Фиксируем футер */
    bottom: 0; /* Прикрепляем к низу экрана */
    left: 0; /* Прикрепляем к левому краю */
    width: 100%; /* Занимаем всю ширину экрана */
    background-color: #333; /* Цвет фона футера */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px 0; /* Отступы сверху и снизу */
}

/* Стили для верхней полосы */
footer::before {
    content: ""; /* Создаем пустой элемент */
    display: block; /* Делаем его блочным */
    height: 5px; /* Высота полосы */
    background-color: #ff5733; /* Цвет верхней полосы */
}

/* Стили для секции с ссылками на соцсети */
.social-links {
    text-align: center; /* Центрируем содержимое */
    margin: 30px 0; /* Отступы сверху и снизу */
}

.social-links a {
    margin: 0 0px; /* Отступы между ссылками */
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт */
}

.social-links a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}


@media only screen and (max-width: 400px) {

}
