.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Press Start 2P'; /* Имя шрифта, которое вы будете использовать в CSS */
    src: url('../lib/PressStart2P-Regular.ttf') format('truetype'); /* Путь к файлу шрифта */
    font-weight: normal; /* Нормальный вес шрифта */
    font-style: normal; /* Нормальный стиль шрифта */
}





